workflows/tools/clientes_mais_ativos.workflow.json
{
  "id": "LSPTOOLACTCUS01",
  "name": "MCP Tool - clientes_mais_ativos",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "LSPERRLOG0000001"
  },
  "nodes": [
    {
      "id": "tool-trigger",
      "name": "Entrada MCP",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "start_date",
              "type": "string",
              "required": true
            },
            {
              "name": "end_date",
              "type": "string",
              "required": true
            },
            {
              "name": "sort_by",
              "type": "string"
            },
            {
              "name": "limit",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "call-active-orders",
      "name": "Buscar encomendas loja",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "INTERFACE - Loja - Listar encomendas/pagamentos V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "start_date": "={{ $json.start_date }}",
            "end_date": "={{ $json.end_date }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "rank-customers",
      "name": "Criar ranking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "parameters": {
        "jsCode": "const input = $('Entrada MCP').first().json;\nconst sortBy = ['orders_count', 'total_spent'].includes(input.sort_by) ? input.sort_by : 'total_spent';\nconst limit = Number(input.limit || 10);\nconst map = new Map();\nfor (const o of ($json.orders || [])) {\n  const row = map.get(o.customer_id) || { id: o.customer_id, name: o.customer_name, email: o.customer_email, orders_count: 0, total_spent: 0 };\n  row.orders_count++;\n  row.total_spent += Number(o.amount || 0);\n  map.set(o.customer_id, row);\n}\nconst ranking = [...map.values()].sort((a, b) => Number(b[sortBy]) - Number(a[sortBy])).slice(0, limit);\nreturn [{ json: { sort_by: sortBy, limit, ranking } }];"
      }
    }
  ],
  "connections": {
    "Entrada MCP": {
      "main": [
        [
          {
            "node": "Buscar encomendas loja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar encomendas loja": {
      "main": [
        [
          {
            "node": "Criar ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
