workflows/tools/listar_encomendas_cliente.workflow.json
{
  "id": "LSPTOOLORDCUS01",
  "name": "MCP Tool - listar_encomendas_cliente",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "LSPERRLOG0000001"
  },
  "nodes": [
    {
      "id": "tool-trigger",
      "name": "Entrada MCP",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "customer_identifier",
              "type": "string",
              "required": true
            },
            {
              "name": "start_date",
              "type": "string"
            },
            {
              "name": "end_date",
              "type": "string"
            },
            {
              "name": "limit",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "call-customer-orders",
      "name": "Listar encomendas da loja",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "INTERFACE - Loja - Listar encomendas/pagamentos V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "start_date": "={{ $json.start_date }}",
            "end_date": "={{ $json.end_date }}",
            "customer_identifier": "={{ $json.customer_identifier }}",
            "limit": "={{ $json.limit }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "filter-customer-orders",
      "name": "Filtrar por cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "parameters": {
        "jsCode": "const input = $('Entrada MCP').first().json;\nconst id = String(input.customer_identifier || '').toLowerCase();\nlet orders = $json.orders || [];\norders = orders.filter(o => [o.customer_id, o.customer_email, o.customer_name].some(v => String(v || '').toLowerCase().includes(id)));\nconst limit = Number(input.limit || 50);\nreturn [{ json: { count: orders.slice(0, limit).length, orders: orders.slice(0, limit) } }];"
      }
    }
  ],
  "connections": {
    "Entrada MCP": {
      "main": [
        [
          {
            "node": "Listar encomendas da loja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar encomendas da loja": {
      "main": [
        [
          {
            "node": "Filtrar por cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
