workflows/tools/pagamentos_pagos_lusopay_pendentes_loja.workflow.json
{
  "id": "LSPTOOLPAIDPEND1",
  "name": "MCP Tool - pagamentos_pagos_lusopay_pendentes_loja",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "LSPERRLOG0000001"
  },
  "nodes": [
    {
      "id": "tool-trigger",
      "name": "Entrada MCP",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "start_date",
              "type": "string",
              "required": true
            },
            {
              "name": "end_date",
              "type": "string",
              "required": true
            }
          ]
        }
      }
    },
    {
      "id": "call-paid-lusopay",
      "name": "Buscar pagos LusoPay",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        -100
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "ADAPTER - LusoPay - Listar pagamentos MOCK V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "start_date": "={{ $json.start_date }}",
            "end_date": "={{ $json.end_date }}",
            "status": "paid",
            "_tool": "pagamentos_pagos_lusopay_pendentes_loja"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "call-store-for-paid",
      "name": "Buscar loja",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        120
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "INTERFACE - Loja - Listar encomendas/pagamentos V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "start_date": "={{ $('Entrada MCP').first().json.start_date }}",
            "end_date": "={{ $('Entrada MCP').first().json.end_date }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "find-paid-pending-store",
      "name": "Encontrar pagos pendentes na loja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ],
      "parameters": {
        "jsCode": "const luso = $('Buscar pagos LusoPay').first().json.payments || [];\nconst store = $('Buscar loja').first().json.payments || [];\nconst storeByOrder = new Map(store.filter(p => p.order_id).map(p => [String(p.order_id), p]));\nconst issues = [];\nfor (const lp of luso) {\n  const sp = storeByOrder.get(String(lp.order_id));\n  if (!sp) continue;\n  if (lp.payment_status === 'paid' && sp.payment_status === 'pending') {\n    issues.push({\n      order_id: lp.order_id,\n      lusopay_status: lp.payment_status,\n      store_status: sp.payment_status,\n      amount: lp.amount,\n      currency: lp.currency,\n      payment_method: lp.payment_method,\n      lusopay_paid_at: lp.paid_at,\n      store_created_at: sp.created_at\n    });\n  }\n}\nreturn [{ json: {\n  ok: true,\n  count: issues.length,\n  total_amount: issues.reduce((sum, issue) => sum + Number(issue.amount || 0), 0),\n  issues\n}}];"
      }
    }
  ],
  "connections": {
    "Entrada MCP": {
      "main": [
        [
          {
            "node": "Buscar pagos LusoPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar pagos LusoPay": {
      "main": [
        [
          {
            "node": "Buscar loja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar loja": {
      "main": [
        [
          {
            "node": "Encontrar pagos pendentes na loja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
