workflows/tools/pagamentos_por_valor.workflow.json
{
  "id": "LSPTOOLAMOUNT01",
  "name": "MCP Tool - pagamentos_por_valor",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "LSPERRLOG0000001"
  },
  "nodes": [
    {
      "id": "tool-trigger",
      "name": "Entrada MCP",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "start_date",
              "type": "string"
            },
            {
              "name": "end_date",
              "type": "string"
            },
            {
              "name": "min_amount",
              "type": "number"
            },
            {
              "name": "max_amount",
              "type": "number"
            },
            {
              "name": "status",
              "type": "string"
            },
            {
              "name": "limit",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "call-amount-payments",
      "name": "Listar por valor na LusoPay",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "ADAPTER - LusoPay - Listar pagamentos MOCK V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "start_date": "={{ $json.start_date }}",
            "end_date": "={{ $json.end_date }}",
            "min_amount": "={{ $json.min_amount }}",
            "max_amount": "={{ $json.max_amount }}",
            "status": "={{ $json.status }}",
            "limit": "={{ $json.limit }}",
            "_tool": "pagamentos_por_valor"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "summarize-amount-payments",
      "name": "Resumo por valor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "parameters": {
        "jsCode": "const input = $('Entrada MCP').first().json;\nconst payments = $json.payments || [];\nreturn [{ json: {\n  ok: true,\n  min_amount: input.min_amount ?? null,\n  max_amount: input.max_amount ?? null,\n  status: input.status || null,\n  count: payments.length,\n  total: payments.reduce((sum, p) => sum + Number(p.amount || 0), 0),\n  payments\n}}];"
      }
    }
  ],
  "connections": {
    "Entrada MCP": {
      "main": [
        [
          {
            "node": "Listar por valor na LusoPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar por valor na LusoPay": {
      "main": [
        [
          {
            "node": "Resumo por valor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
