workflows/tools/relatorio_diario.workflow.json
{
  "id": "LSPTOOLDAILY001",
  "name": "MCP Tool - relatorio_diario",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "LSPERRLOG0000001"
  },
  "nodes": [
    {
      "id": "tool-trigger",
      "name": "Entrada MCP",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "date",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "call-daily-payments",
      "name": "Listar dia na LusoPay",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "ADAPTER - LusoPay - Listar pagamentos MOCK V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "start_date": "={{ $json.date || $now.toFormat(\"yyyy-MM-dd\") }}",
            "end_date": "={{ $json.date || $now.toFormat(\"yyyy-MM-dd\") }}",
            "_tool": "relatorio_diario"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "build-daily-report",
      "name": "Construir relatório diário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "parameters": {
        "jsCode": "const input = $('Entrada MCP').first().json;\nconst date = input.date || new Date().toISOString().slice(0, 10);\nconst payments = $json.payments || [];\nconst byMethod = {};\nfor (const p of payments) {\n  const method = p.payment_method || 'unknown';\n  byMethod[method] = byMethod[method] || { count: 0, total: 0 };\n  byMethod[method].count++;\n  byMethod[method].total += Number(p.amount || 0);\n}\nconst count = status => payments.filter(p => p.payment_status === status).length;\nconst paid = payments.filter(p => p.payment_status === 'paid');\nconst totalReceived = paid.reduce((sum, p) => sum + Number(p.amount || 0), 0);\nreturn [{ json: {\n  date,\n  total_received: totalReceived,\n  paid_count: count('paid'),\n  pending_count: count('pending'),\n  failed_count: count('failed'),\n  cancelled_count: count('cancelled'),\n  average_order_value: paid.length ? totalReceived / paid.length : 0,\n  by_method: byMethod,\n  payments\n}}];"
      }
    }
  ],
  "connections": {
    "Entrada MCP": {
      "main": [
        [
          {
            "node": "Listar dia na LusoPay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar dia na LusoPay": {
      "main": [
        [
          {
            "node": "Construir relatório diário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
