workflows/tools/resumo_cliente.workflow.json
{
  "id": "LSPTOOLCUSSUM01",
  "name": "MCP Tool - resumo_cliente",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "LSPERRLOG0000001"
  },
  "nodes": [
    {
      "id": "tool-trigger",
      "name": "Entrada MCP",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "customer_identifier",
              "type": "string",
              "required": true
            },
            {
              "name": "period_days",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "call-customer-summary",
      "name": "Buscar cliente",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        -100
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "INTERFACE - Loja - Obter cliente V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_identifier": "={{ $json.customer_identifier }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "call-orders-summary",
      "name": "Buscar encomendas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -220,
        120
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "INTERFACE - Loja - Listar encomendas/pagamentos V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "build-customer-summary",
      "name": "Calcular resumo do cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ],
      "parameters": {
        "jsCode": "const input = $('Entrada MCP').first().json;\nconst customerResult = $('Buscar cliente').first().json;\nif (!customerResult.found) return [{ json: { found: false, message: 'Cliente não encontrado.' } }];\nconst customer = customerResult.customer;\nconst days = Number(input.period_days || 30);\nconst cutoff = Date.now() - days * 24 * 60 * 60 * 1000;\nconst orders = ($('Buscar encomendas').first().json.orders || [])\n  .filter(o => o.customer_id === customer.id && Date.parse(o.created_at) >= cutoff);\nconst count = status => orders.filter(o => o.normalized_status === status).length;\nreturn [{ json: {\n  customer,\n  period_days: days,\n  orders_count: orders.length,\n  total_spent: orders.filter(o => o.normalized_status === 'paid').reduce((sum, o) => sum + Number(o.amount || 0), 0),\n  paid_orders: count('paid'),\n  pending_orders: count('pending'),\n  cancelled_orders: count('cancelled'),\n  last_order_date: orders.map(o => o.created_at).sort().at(-1) || null\n}}];"
      }
    }
  ],
  "connections": {
    "Entrada MCP": {
      "main": [
        [
          {
            "node": "Buscar cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "node": "Buscar encomendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar encomendas": {
      "main": [
        [
          {
            "node": "Calcular resumo do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
